module.exports = {
  /** 时间处理 */
  getTime: function (duration) {
    var time = Math.round(duration);
    var minute = Math.floor(time / 60).toString();
    var second = Math.round(time % 60).toString();

    return time
      ? minute + ":" + (second.length === 1 ? "0" + second : second)
      : "0:00";
  },

  /** 播放模式 */
  getMode: function (mode) {
    var modeMap = {
      // eslint-disable-next-line
      "列表循环": "cycle",
      // eslint-disable-next-line
      "单曲循环": "single",
      // eslint-disable-next-line
      "顺序播放": "order",
      // eslint-disable-next-line
      "随机播放": "random",
    };

    return "./icon/" + modeMap[mode] + "-play.svg";
  },
};
