module.exports = {
  content: [
    {
      tag: "grid",
      header: "新生你好",
      content: [
        {
          text: "入学准备",
          color: "red",
          name: "Prepare",
          icon: "prepare",
          path: "guide/prepare/index",
        },
        {
          text: "新生报到",
          color: "orange",
          name: "Check",
          icon: "check",
          path: "guide/check/index",
        },
        {
          text: "需带物品",
          color: "blue",
          name: "Necessity",
          icon: "necessity",
          path: "guide/necessity/index",
        },
        {
          text: "入学活动",
          color: "purple",
          name: "Activity",
          icon: "activity",
          path: "guide/activity/index",
        },
        {
          text: "常见问题",
          color: "cyan",
          name: "FAQ",
          icon: "faq",
          path: "guide/faq/index",
        },
      ],
    },
    {
      tag: "grid",
      header: "学在东师",
      content: [
        {
          text: "学位",
          color: "blue",
          name: "Course",
          icon: "degree",
          path: "guide/degree/index",
        },
        {
          text: "课程",
          color: "orange",
          name: "Course",
          icon: "course",
          path: "guide/course/index",
        },
        {
          text: "学习",
          color: "red",
          name: "Study",
          icon: "study",
          path: "guide/study/index",
        },
        {
          text: "选课",
          color: "purple",
          name: "Select",
          icon: "select",
          path: "guide/select/index",
        },
        {
          text: "图书馆",
          color: "cyan",
          name: "Library",
          icon: "library",
          path: "intro/apartment/library/index",
        },
        {
          text: "考试",
          color: "olive",
          name: "Exam",
          icon: "test",
          path: "guide/exam/index",
        },
        {
          text: "教务系统",
          color: "blue",
          name: "System",
          icon: "system",
          path: "guide/system/index",
        },
      ],
    },
    {
      tag: "grid",
      header: "行在东师",
      content: [
        {
          text: "寝室",
          color: "blue",
          name: "Dorm",
          icon: "dorm",
          path: "guide/dorm/index",
        },
        {
          text: "食堂",
          color: "orange",
          name: "Dining",
          icon: "dining",
          path: "guide/dining/index",
        },
        {
          text: "校园卡",
          color: "red",
          name: "Card",
          icon: "card",
          path: "guide/card/index",
        },

        {
          text: "校园网",
          color: "purple",
          name: "Network",
          icon: "network",
          path: "guide/network/index",
        },
        {
          text: "快递",
          color: "mauve",
          name: "Express",
          icon: "express",
          path: "guide/express/index",
        },
        {
          text: "超市",
          color: "olive",
          name: "Shop",
          icon: "shop",
          path: "guide/shop/index",
        },
        {
          text: "洗浴",
          color: "red",
          name: "Bath",
          icon: "bath",
          path: "guide/bath/index",
        },
        {
          text: "生活",
          color: "orange",
          name: "Life",
          icon: "life",
          path: "guide/life/index",
        },
        {
          text: "账户",
          color: "olive",
          name: "Account",
          icon: "account",
          path: "guide/account/index",
        },
        {
          text: "SIM 卡",
          color: "purple",
          name: "SIM",
          icon: "sim",
          path: "guide/sim/index",
        },
      ],
    },
    {
      tag: "grid",
      header: "乐在东师",
      content: [
        {
          text: "学生组织",
          color: "blue",
          name: "Orgnazation",
          icon: "student-org",
          path: "guide/organization/index",
        },
        {
          text: "社团",
          color: "orange",
          name: "Association",
          icon: "association",
          path: "guide/association/index",
        },
        {
          text: "交通",
          color: "red",
          name: "Traffic",
          icon: "traffic",
          path: "guide/traffic/index",
        },
        {
          text: "吃喝玩乐",
          color: "purple",
          name: "Nearby",
          icon: "nearby",
          path: "guide/life/nearby/index",
        },
      ],
    },
    {
      tag: "grid",
      header: "乐在东师",
      content: [
        {
          text: "个人建议",
          color: "blue",
          name: "Advice",
          icon: "advice",
          path: "guide/advice/index",
        },
      ],
      footer: " ",
    },
  ],
};
