.password-mask {
  position: fixed;
  top: 100%;
  z-index: 201;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.1);
}

.password {
  position: fixed;
  top: 35%;
  left: 10%;
  z-index: 202;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  height: 15%;
  border-radius: 16px;

  background-color: var(--bgcolor);

  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;

  .hint {
    height: 26px;
    margin-bottom: 10px;
  }

  input {
    border: none;

    background-color: transparent;

    font-weight: 800;
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: 40px;
  }
}
