.intro-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 60%;
    filter: blur(8px);
  }

  .intro {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 20px 0 10px;
  }

  .icon {
    width: 200rpx;
    max-width: 150px;
    height: 200rpx;
    max-height: 150px;
  }

  .name {
    margin: 4px 0;
    font-size: 18px;
    text-shadow: 0 0 1px var(--grey);
  }

  .detail {
    max-width: 80%;
    margin: 2px auto;
    color: var(--dark-grey);
    font-size: 14px;
  }

  .desc {
    max-width: 80%;
    color: var(--grey3);
    font-size: 16px;
  }

  .follow {
    margin-top: 8px;
    padding: 8px 16px;
    border-radius: 24px;

    background-color: #3478f7;
    color: #fff;

    line-height: 1;

    &.hover {
      background-color: #71a1f9;
    }
  }
}

.card {
  overflow: hidden;

  max-width: 517px;
  margin: 12px 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  box-shadow: 1px 1px 2px 3px var(--card-shadow);

  text-align: left;

  @media (min-width: 547px) {
    margin: 12px auto;
  }

  .img {
    width: 100%;
    height: 290rpx;
    max-height: 220px;
  }

  .detail {
    margin: 0;
    padding: 12px 15px;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;

    @media (min-width: 480px) {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .desc {
    color: var(--dark-grey);
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: 480px) {
      font-size: 18px;
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
  }

  .logo {
    width: 28px;
    height: 28px;

    @media (min-width: 480px) {
      width: 40px;
      height: 40px;
    }
  }

  .name {
    margin: 2px auto;
    color: var(--grey);
    font-size: 12px;

    @media (min-width: 480px) {
      font-size: 16px;
    }
  }
}
