.tab-wrapper {
  position: relative;
  padding-top: 36.8px;
}

.tab-bar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 900;

  width: 100%;
}

.tab-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  min-width: 100%;
  padding: 0 4px;

  white-space: nowrap;

  transition: all 0.3s;

  .item {
    flex: 1 0;
    padding: 0 10px;
    color: var(--grey3);

    .text {
      padding: 2px 0;
      border-bottom: 2px solid var(--bgcolor);
    }

    &.active {
      color: var(--text-color);
      font-weight: bold;
      font-size: 20px;

      .text {
        border-color: #07c160;
      }
    }
  }
}

.page-wrapper {
  height: 200px;

  .tab-page {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
