page {
  height: 100%;

  font-size: 30rpx;
  font-family: -apple-system-font, "PingFang SC", "Helvetica Neue", Helvetica,
    STHeiti, Tahoma, sans-serif;
  line-height: 1.4;
  text-align: center;

  @media (min-width: 480px) {
    font-size: 20px;
  }
}

.page {
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
}

.button-hover {
  background-color: var(--hover) !important;
  color: inherit;
  opacity: 0.7 !important;
}
