/* error */

.error-wrapper {
  padding: 20% 10%;

  .text {
    margin: 10px 0;
    color: #f00;
    font-size: 18px;
  }

  .desc {
    color: #888;
    font-size: 16px;
    text-align: justify !important;
  }
}
