/* error */

.error-wrapper {
  padding: 20% 10%;

  .hint {
    margin: 12px 0;
    color: #f00;
    font-size: 20px;
  }

  .desc {
    color: #888;
    font-size: 16px;
    text-align: justify !important;

    text {
      display: block;
    }
  }

  button {
    margin-top: 2rem;
  }
}
