/* error */

.error-wrapper {
  padding: 20% 10%;

  .text {
    margin: 10px 0;
    color: #f00;
    font-size: 18px;
  }

  .desc {
    color: #888;
    font-size: 16px;
    text-align: justify !important;
  }
}

/* donate */
.donate-wrapper {
  position: fixed;
  bottom: 20px;
  width: 100%;

  .button {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;

    background-color: #09bb07;
    color: #fff;

    line-height: 1.6;
    text-align: center;
  }
}
