@use "../lib/svg";

/*****************
    左上角按钮
*****************/

.left-button {
  position: fixed;
  top: 26px;
  left: 9px;
  z-index: 1100;

  width: 46px;
  height: 31px;
  border-radius: 18px;

  background-color: rgb(255 255 255 / 50%);

  @media (prefers-color-scheme: dark) {
    background-color: rgb(0 0 0 / 15%);
  }

  &::before {
    content: " ";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;

    width: 200%;
    height: 200%;
    border: 1px solid rgb(127 127 127 / 20%);
    border-radius: 36px;

    transform: scale(0.5);
    transform-origin: 0 0;

    @media (prefers-color-scheme: dark) {
      border: 1px solid rgb(255 255 255 / 20%);
    }
  }

  .icon-back,
  .icon-home,
  .icon-setting {
    width: 24px;
    height: 24px;
    margin: 4px auto;
  }

  .icon-back {
    @include svg.background-svg(
      '<svg viewBox="0 0 1024 1024"><path d="M953.294 447.05H269.228l270.319-267.02-70.922-71.048L136.96 436.58l-.221-.22-35.917 35.915-9.915 9.794.06.06-15.175 15.176 15.133 15.134-.018.018 3.02 2.982 42.812 42.813.267-.266 331.618 327.518 70.922-71.007-270.348-267.019h684.095z"/></svg>'
    );

    @media (prefers-color-scheme: dark) {
      @include svg.background-svg(
        '<svg viewBox="0 0 1024 1024"><path d="M953.294 447.05H269.228l270.319-267.02-70.922-71.048L136.96 436.58l-.221-.22-35.917 35.915-9.915 9.794.06.06-15.175 15.176 15.133 15.134-.018.018 3.02 2.982 42.812 42.813.267-.266 331.618 327.518 70.922-71.007-270.348-267.019h684.095z" fill="#fff"/></svg>'
      );
    }
  }

  .icon-home {
    @include svg.background-svg(
      '<svg viewBox="0 0 1024 1024"><path d="M204.207 418.15a64 64 0 00-22.874 49.035v375.482h181.334v-230.4c0-35.348 28.652-64 64-64h170.666c35.348 0 64 28.652 64 64v230.4h181.334V467.185a64 64 0 00-22.874-49.035L553.126 194.494c-23.786-19.951-58.466-19.951-82.252 0L204.207 418.15zm361.126 226.117H458.667v198.4c0 53.02-42.98 96-96 96H181.333c-53.02 0-96-42.98-96-96V467.185a160 160 0 0157.182-122.59L409.182 120.94c59.47-49.878 146.165-49.878 205.636 0l266.667 223.656a160 160 0 0157.182 122.59v375.482c0 53.02-42.98 96-96 96H661.333c-53.02 0-96-42.98-96-96v-198.4z"/></svg>'
    );

    @media (prefers-color-scheme: dark) {
      @include svg.background-svg(
        '<svg viewBox="0 0 1024 1024"><path d="M204.207 418.15a64 64 0 00-22.874 49.035v375.482h181.334v-230.4c0-35.348 28.652-64 64-64h170.666c35.348 0 64 28.652 64 64v230.4h181.334V467.185a64 64 0 00-22.874-49.035L553.126 194.494c-23.786-19.951-58.466-19.951-82.252 0L204.207 418.15zm361.126 226.117H458.667v198.4c0 53.02-42.98 96-96 96H181.333c-53.02 0-96-42.98-96-96V467.185a160 160 0 0157.182-122.59L409.182 120.94c59.47-49.878 146.165-49.878 205.636 0l266.667 223.656a160 160 0 0157.182 122.59v375.482c0 53.02-42.98 96-96 96H661.333c-53.02 0-96-42.98-96-96v-198.4z" fill="#fff"/></svg>'
      );
    }
  }

  .icon-setting {
    @include svg.background-svg(
      '<svg viewBox="0 0 1024 1024"><path d="M949.952 435.328c.416 2.08 9.344 50.368 9.344 88.416 0 38.816-9.216 87.904-9.344 88.384-5.248 27.84-22.144 45.92-43.776 45.92H902.4c-60.416 0-109.472 49.568-109.472 110.56 0 19.648 9.44 42.016 9.536 42.208 10.816 24.544 2.464 54.624-20.8 70.912l-114.208 63.584a62.016 62.016 0 0 1-68.832-15.104C586.208 916.512 543.2 877.28 509.6 877.28c-30.976 0-72.896 34.944-88.384 51.936-11.04 12.128-28.128 19.36-45.504 19.36-8.32 0-16.192-1.6-24.832-5.44L240.8 880.832a58.336 58.336 0 0 1-19.264-70.112c.096-.192 9.536-22.368 9.536-42.112 0-60.896-49.056-110.56-109.44-110.56h-4.576c-20.864 0-37.76-17.984-43.008-45.92-.416-2.08-9.344-50.56-9.344-88.384 0-37.952 8.96-86.4 9.344-88.416 5.248-27.904 22.048-45.888 43.68-45.888h3.776c60.416 0 109.472-49.6 109.472-110.56 0-19.968-9.44-42.016-9.536-42.24-10.816-24.512-2.464-54.72 20.864-71.008l116.32-64.256c7.168-3.104 14.912-4.576 23.04-4.576 17.408 0 34.368 7.04 45.504 18.976 12.224 12.896 54.432 49.856 87.04 49.856 32.256 0 74.272-36.16 86.4-48.864 11.136-11.616 28-18.56 45.184-18.56 8.352 0 16.32 1.568 24.96 5.344l112.224 63.168c21.856 15.392 30.208 45.504 19.392 70.144-.096.192-9.536 22.336-9.536 42.112 0 60.896 49.152 110.56 109.44 110.56h4.576c20.96-.096 37.856 17.888 43.104 45.792zM670.624 535.84c0-88.192-71.104-159.904-158.4-159.904-87.36 0-158.464 71.68-158.464 159.904 0 88.224 71.04 159.936 158.432 159.936 87.424 0 158.432-71.712 158.432-159.936z" /></svg>'
    );

    @media (prefers-color-scheme: dark) {
      @include svg.background-svg(
        '<svg viewBox="0 0 1024 1024"><path d="M949.952 435.328c.416 2.08 9.344 50.368 9.344 88.416 0 38.816-9.216 87.904-9.344 88.384-5.248 27.84-22.144 45.92-43.776 45.92H902.4c-60.416 0-109.472 49.568-109.472 110.56 0 19.648 9.44 42.016 9.536 42.208 10.816 24.544 2.464 54.624-20.8 70.912l-114.208 63.584a62.016 62.016 0 0 1-68.832-15.104C586.208 916.512 543.2 877.28 509.6 877.28c-30.976 0-72.896 34.944-88.384 51.936-11.04 12.128-28.128 19.36-45.504 19.36-8.32 0-16.192-1.6-24.832-5.44L240.8 880.832a58.336 58.336 0 0 1-19.264-70.112c.096-.192 9.536-22.368 9.536-42.112 0-60.896-49.056-110.56-109.44-110.56h-4.576c-20.864 0-37.76-17.984-43.008-45.92-.416-2.08-9.344-50.56-9.344-88.384 0-37.952 8.96-86.4 9.344-88.416 5.248-27.904 22.048-45.888 43.68-45.888h3.776c60.416 0 109.472-49.6 109.472-110.56 0-19.968-9.44-42.016-9.536-42.24-10.816-24.512-2.464-54.72 20.864-71.008l116.32-64.256c7.168-3.104 14.912-4.576 23.04-4.576 17.408 0 34.368 7.04 45.504 18.976 12.224 12.896 54.432 49.856 87.04 49.856 32.256 0 74.272-36.16 86.4-48.864 11.136-11.616 28-18.56 45.184-18.56 8.352 0 16.32 1.568 24.96 5.344l112.224 63.168c21.856 15.392 30.208 45.504 19.392 70.144-.096.192-9.536 22.336-9.536 42.112 0 60.896 49.152 110.56 109.44 110.56h4.576c20.96-.096 37.856 17.888 43.104 45.792zM670.624 535.84c0-88.192-71.104-159.904-158.4-159.904-87.36 0-158.464 71.68-158.464 159.904 0 88.224 71.04 159.936 158.432 159.936 87.424 0 158.432-71.712 158.432-159.936z" fill="#fff" /></svg>'
      );
    }
  }
}

.left-button-hover {
  opacity: 0.2;
}
