/*****************
    加载中图标
*****************/

@keyframes jump {
  0% {
    top: 0;
    transform: rotate(0deg);
  }

  10% {
    top: -18rpx;
    transform: rotate(-7.2deg);
  }

  20% {
    top: -32rpx;
    transform: rotate(-28.8deg);
  }

  30% {
    top: -42rpx;
    transform: rotate(-64.8deg);
  }

  40% {
    top: -48rpx;
    transform: rotate(-115.2deg);
  }

  50% {
    top: -50rpx;
    transform: rotate(-180deg);
  }

  60% {
    top: -48rpx;
    transform: rotate(-244.8deg);
  }

  70% {
    top: -42rpx;
    transform: rotate(-295.2deg);
  }

  80% {
    top: -32rpx;
    transform: rotate(-331.2deg);
  }

  90% {
    top: -18rpx;
    transform: rotate(-352.8deg);
  }

  100% {
    top: 0;
    transform: rotate(-360deg);
  }
}

@keyframes shadow {
  0%,
  100% {
    transform: scaleX(1.4);
  }

  50% {
    transform: scaleX(1);
  }
}

.loading-logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  .text {
    margin: 8px auto;
    color: var(--grey);
    font-size: 18px;

    @media (min-width: 480px) {
      margin: 12px auto;
      font-size: 24px;
    }
  }

  .shadow {
    width: 60px;
    height: 10px;
    margin: -10px 20px 0;
    border-radius: 50%;

    background: rgb(191 190 195 / 15%);
    box-shadow: 0 0 5px rgb(191 190 195 / 15%);

    animation: shadow 2s ease 0s none infinite alternate-reverse;
  }
}

.loading-logo {
  width: 100px;
  height: 125px;
  filter: drop-shadow(-1px 1px 2px rgb(191 190 195 / 15%));

  .logo {
    position: relative;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: #2ecc71;

    animation: jump 2s linear 0s none infinite alternate-reverse;

    .in {
      position: absolute;
      left: 40px;
      color: #fff;
      font-size: 32px;
    }

    .dong {
      position: absolute;
      top: 36px;
      left: 15px;

      color: #fff;

      font-size: 32px;
    }

    .shi {
      position: absolute;
      top: 44px;
      right: 15px;

      color: #fff;

      font-size: 32px;
    }
  }
}
