/* 右上角解释文字 */
.desc-wrapper {
  margin: 4px 8px;
  text-align: right;
}

.desc-button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  width: auto;
  padding: 6px;

  .icon {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .text {
    color: var(--grey);
    font-size: 15px;
  }
}

/* 分数部分 */

.score-wrapper {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--bgcolor-grey);

  .bmi,
  .score {
    width: 50%;
    height: 100%;
  }

  .title {
    margin: 20px;
    font-weight: 500;
    font-size: 24px;
  }

  .result {
    font-weight: 500;
    font-size: 20px;
  }
}

/* 输入列表 */

.input-list-wrapper {
  position: relative;

  overflow: hidden;

  margin: 0 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--text-color);

  font-size: 17px;
  line-height: 1.75;
  text-align: right;
}

.list-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 24px;

  &::after {
    content: " ";

    position: absolute;
    right: 24px;
    bottom: 0;
    left: 24px;

    height: 1px;
    border-bottom: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child::after {
    display: none;
  }

  .input {
    flex: 1;
  }

  .unit {
    flex: none;
    padding-left: 15px;
    color: var(--grey4);
  }

  .picker {
    flex: 1;
  }
}

.list-item .text,
.score-item .text {
  flex: none;
  padding-right: 16px;
  text-align: left;
}

/* 计算按钮 */

.calculate.button {
  width: 92% !important;
  margin: 12px 4% !important;
}

/* 成绩列表 */

.score-list {
  position: relative;

  margin: 15px 0;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--text-color);

  font-size: 17px;
  line-height: 1.75;

  .item {
    position: relative;
    display: flex;
    padding: 6px 15px;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      height: 1px;
      border-top: 1px solid var(--border-color);

      transform: scaleY(0.4);
      transform-origin: 0 0;
    }

    &:first-child::before {
      display: none;
    }

    .score {
      flex: auto;
      text-align: right;
    }
  }
}
