@use "../lib/svg";

/*****************
    返回按钮
*****************/

.back-button {
  position: fixed;
  top: 26px;
  left: 9px;
  z-index: 1100;

  width: 46px;
  height: 31px;
  border-radius: 18px;

  background-color: rgba(255, 255, 255, 0.5);

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  &::before {
    content: " ";

    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;

    width: 200%;
    height: 200%;
    border: 1px solid rgba(127, 127, 127, 0.2);
    border-radius: 36px;

    transform: scale(0.5);
    transform-origin: 0 0;

    @media (prefers-color-scheme: dark) {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }
  }

  .icon-back,
  .icon-home {
    width: 24px;
    height: 24px;
    margin: 4px auto;
  }

  .icon-back {
    @include svg.background-svg(
      '<svg viewBox="0 0 1024 1024"><path d="M953.294 447.05H269.228l270.319-267.02-70.922-71.048L136.96 436.58l-.221-.22-35.917 35.915-9.915 9.794.06.06-15.175 15.176 15.133 15.134-.018.018 3.02 2.982 42.812 42.813.267-.266 331.618 327.518 70.922-71.007-270.348-267.019h684.095z"/></svg>'
    );

    @media (prefers-color-scheme: dark) {
      @include svg.background-svg(
        '<svg viewBox="0 0 1024 1024"><path d="M953.294 447.05H269.228l270.319-267.02-70.922-71.048L136.96 436.58l-.221-.22-35.917 35.915-9.915 9.794.06.06-15.175 15.176 15.133 15.134-.018.018 3.02 2.982 42.812 42.813.267-.266 331.618 327.518 70.922-71.007-270.348-267.019h684.095z" fill="#fff"/></svg>'
      );
    }
  }

  .icon-home {
    @include svg.background-svg(
      '<svg viewBox="0 0 1024 1024"><path d="M204.207 418.15a64 64 0 00-22.874 49.035v375.482h181.334v-230.4c0-35.348 28.652-64 64-64h170.666c35.348 0 64 28.652 64 64v230.4h181.334V467.185a64 64 0 00-22.874-49.035L553.126 194.494c-23.786-19.951-58.466-19.951-82.252 0L204.207 418.15zm361.126 226.117H458.667v198.4c0 53.02-42.98 96-96 96H181.333c-53.02 0-96-42.98-96-96V467.185a160 160 0 0157.182-122.59L409.182 120.94c59.47-49.878 146.165-49.878 205.636 0l266.667 223.656a160 160 0 0157.182 122.59v375.482c0 53.02-42.98 96-96 96H661.333c-53.02 0-96-42.98-96-96v-198.4z"/></svg>'
    );

    @media (prefers-color-scheme: dark) {
      @include svg.background-svg(
        '<svg viewBox="0 0 1024 1024"><path d="M204.207 418.15a64 64 0 00-22.874 49.035v375.482h181.334v-230.4c0-35.348 28.652-64 64-64h170.666c35.348 0 64 28.652 64 64v230.4h181.334V467.185a64 64 0 00-22.874-49.035L553.126 194.494c-23.786-19.951-58.466-19.951-82.252 0L204.207 418.15zm361.126 226.117H458.667v198.4c0 53.02-42.98 96-96 96H181.333c-53.02 0-96-42.98-96-96V467.185a160 160 0 0157.182-122.59L409.182 120.94c59.47-49.878 146.165-49.878 205.636 0l266.667 223.656a160 160 0 0157.182 122.59v375.482c0 53.02-42.98 96-96 96H661.333c-53.02 0-96-42.98-96-96v-198.4z" fill="#fff"/></svg>'
      );
    }
  }
}

.back-button-hover {
  opacity: 0.2;
}
