page {
  --text-color: #000;
  --bgcolor: #fff;
  --bgcolor-grey: #f3f3f8;
  --block-bgcolor: #f3f3f8;
  --border-color: #cccccf;
  --grey: #888;
  --grey3: #333;
  --grey4: #444;
  --dark-grey: #666;
  --light-grey: #999;
  --arrow-color: #c5c5c7;
  --hover: rgba(0, 0, 0, 0.1);
  --card-shadow: rgba(191, 192, 195, 0.15);
  --max-width: 517px;
  --horizontal-margin: 15px;
  --paragraph-horizontal-margin: auto;

  /* 标准色 */
  --red: #e54d42;
  --orange: #f37b1d;
  --yellow: #fbbd08;
  --olive: #8dc63f;
  --green: #39b54a;
  --cyan: #1cbbb4;
  --blue: #0081ff;
  --purple: #6739b6;
  --mauve: #9c26b0;
  --pink: #e03997;
  --brown: #a5673f;
  --grey: #8799a3;
  --black: #333;
  --darkGray: #666;
  --gray: #aaa;
  --ghostWhite: #f1f1f1;
  --white: #fff;

  /* 浅色 */
  --redLight: #fadbd9;
  --orangeLight: #fde6d2;
  --yellowLight: #fef2ce;
  --oliveLight: #e8f4d9;
  --greenLight: #d7f0db;
  --cyanLight: #d2f1f0;
  --blueLight: #cce6ff;
  --purpleLight: #e1d7f0;
  --mauveLight: #ebd4ef;
  --pinkLight: #f9d7ea;
  --brownLight: #ede1d9;
  --greyLight: #e7ebed;

  /* 渐变色 */
  --gradualRed: linear-gradient(45deg, #f43f3b, #ec008c);
  --gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
  --gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
  --gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
  --gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
  --gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);

  /* 阴影透明色 */
  --ShadowSize: 6rpx 6rpx 8rpx;
  --redShadow: rgba(204, 69, 59, 0.2);
  --orangeShadow: rgba(217, 109, 26, 0.2);
  --yellowShadow: rgba(224, 170, 7, 0.2);
  --oliveShadow: rgba(124, 173, 55, 0.2);
  --greenShadow: rgba(48, 156, 63, 0.2);
  --cyanShadow: rgba(28, 187, 180, 0.2);
  --blueShadow: rgba(0, 102, 204, 0.2);
  --purpleShadow: rgba(88, 48, 156, 0.2);
  --mauveShadow: rgba(133, 33, 150, 0.2);
  --pinkShadow: rgba(199, 50, 134, 0.2);
  --brownShadow: rgba(140, 88, 53, 0.2);
  --greyShadow: rgba(114, 130, 138, 0.2);
  --grayShadow: rgba(114, 130, 138, 0.2);
  --blackShadow: rgba(26, 26, 26, 0.2);

  @media (min-width: 547px) {
    --horizontal-margin: auto;
  }

  @media (prefers-color-scheme: light) {
    --text-color: #000;
    --bgcolor: #fff;
    --bgcolor-grey: #f3f3f8;
    --block-bgcolor: #f3f3f8;
    --border-color: #cccccf;
    --grey: #888;
    --grey3: #333;
    --grey4: #444;
    --dark-grey: #666;
    --light-grey: #999;
    --arrow-color: #c5c5c7;
    --hover: rgba(0, 0, 0, 0.1);
    --card-shadow: rgba(191, 192, 195, 0.15);
  }

  @media (prefers-color-scheme: dark) {
    --text-color: #fff;
    --bgcolor: #000;
    --bgcolor-grey: #000;
    --block-bgcolor: #1c1c1e;
    --border-color: #3a3a3d;
    --grey: #777;
    --grey3: #ccc;
    --grey4: #bbb;
    --dark-grey: #999;
    --light-grey: #666;
    --arrow-color: #5a5a5f;
    --hover: rgba(255, 255, 255, 0.1);
    --card-shadow: rgba(64, 63, 60, 0.15);
  }

  .grey {
    --block-bgcolor: #fff;
    --max-width: none;
    --horizontal-margin: 15px;
    --paragraph-horizontal-margin: 15px;

    @media (prefers-color-scheme: light) {
      --block-bgcolor: #fff;
    }

    @media (prefers-color-scheme: dark) {
      --block-bgcolor: #1c1c1e;
    }
  }
}

/* 背景颜色 */
.bg-red {
  background-color: var(--red);
  color: var(--white);
}

.bg-orange {
  background-color: var(--orange);
  color: var(--white);
}

.bg-yellow {
  background-color: var(--yellow);
  color: var(--black);
}

.bg-olive {
  background-color: var(--olive);
  color: var(--white);
}

.bg-green {
  background-color: var(--green);
  color: var(--white);
}

.bg-cyan {
  background-color: var(--cyan);
  color: var(--white);
}

.bg-blue {
  background-color: var(--blue);
  color: var(--white);
}

.bg-purple {
  background-color: var(--purple);
  color: var(--white);
}

.bg-mauve {
  background-color: var(--mauve);
  color: var(--white);
}

.bg-pink {
  background-color: var(--pink);
  color: var(--white);
}

.bg-brown {
  background-color: var(--brown);
  color: var(--white);
}

.bg-grey {
  background-color: var(--grey);
  color: var(--white);
}

.bg-gray {
  background-color: #f0f0f0;
  color: var(--black);
}

.bg-black {
  background-color: var(--black);
  color: var(--white);
}

.bg-white {
  background-color: var(--white);
  color: var(--darkGray);
}

.bg-red.light {
  background-color: var(--redLight);
  color: var(--red);
}

.bg-orange.light {
  background-color: var(--orangeLight);
  color: var(--orange);
}

.bg-yellow.light {
  background-color: var(--yellowLight);
  color: var(--yellow);
}

.bg-olive.light {
  background-color: var(--oliveLight);
  color: var(--olive);
}

.bg-green.light {
  background-color: var(--greenLight);
  color: var(--green);
}

.bg-cyan.light {
  background-color: var(--cyanLight);
  color: var(--cyan);
}

.bg-blue.light {
  background-color: var(--blueLight);
  color: var(--blue);
}

.bg-purple.light {
  background-color: var(--purpleLight);
  color: var(--purple);
}

.bg-mauve.light {
  background-color: var(--mauveLight);
  color: var(--mauve);
}

.bg-pink.light {
  background-color: var(--pinkLight);
  color: var(--pink);
}

.bg-brown.light {
  background-color: var(--brownLight);
  color: var(--brown);
}

.bg-grey.light {
  background-color: var(--greyLight);
  color: var(--grey);
}

.bg-gradual-red {
  background-image: var(--gradualRed);
  color: var(--white);
}

.bg-gradual-orange {
  background-image: var(--gradualOrange);
  color: var(--white);
}

.bg-gradual-green {
  background-image: var(--gradualGreen);
  color: var(--white);
}

.bg-gradual-purple {
  background-image: var(--gradualPurple);
  color: var(--white);
}

.bg-gradual-pink {
  background-image: var(--gradualPink);
  color: var(--white);
}

.bg-gradual-blue {
  background-image: var(--gradualBlue);
  color: var(--white);
}
