module.exports = {
  /** 需要渲染为按钮 */
  isButton: function (listItem) {
    var type = listItem.type;

    return (
      type === "button" ||
      type === "slider" ||
      (type === "picker" && listItem.inlay)
    );
  },

  /** 点击操作 */
  tapHandler: function (listItem) {
    return listItem.type === "picker"
      ? "onPickerTap"
      : listItem.type === "slider"
      ? "onSliderTap"
      : "";
  },
};
