module.exports = {
  /** 导航 */
  navigate: function (event) {
    var dataset = event.currentTarget.dataset;

    if (dataset.appid) event.instance.callMethod("miniprogram", dataset);
    else event.instance.callMethod("$go", dataset.url);
  },

  /** 需要渲染为按钮 */
  isButton: function (listItem) {
    var type = listItem.type;

    return (
      type === "button" ||
      type === "slider" ||
      (type === "picker" && listItem.inlay)
    );
  },

  /** 按钮操作 */
  button: function (event) {
    var listItem = event.currentTarget.dataset.item;

    if (listItem.handler) event.instance.callMethod(listItem.handler, event);
  },

  /** 点击操作 */
  tapHandler: function (listItem) {
    return listItem.type === "picker"
      ? "onPickerTap"
      : listItem.type === "slider"
      ? "onSliderTap"
      : "";
  },
};
