.phone-component-wrapper {
  overflow: hidden;

  max-width: calc(var(--max-width) - 30px);
  margin: 2px var(--horizontal-margin);
  padding: 4px 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--text-color);

  line-height: 2.5;

  .header {
    min-height: 13px;

    color: var(--text-color);

    font-weight: 500;
    font-size: 19px;
    text-align: left;
  }

  .info-button {
    float: right;
    margin-top: 8px !important;
  }

  .info-icon {
    width: 100%;
    height: 100%;
  }

  .phone-icon {
    vertical-align: baseline;
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  .info {
    display: flex;
    align-items: center;
  }

  .number {
    flex: 1 1 auto;

    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    text-align: left;
  }

  .action {
    overflow: hidden;

    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 14px;

    line-height: 1;

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}

.phone-popup {
  position: fixed;
  top: 50%;
  right: 16px;
  left: 16px;
  z-index: 5000;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  max-width: var(--max-width);
  max-height: 90%;
  border-radius: 12px;

  background-color: var(--block-bgcolor);
  color: var(--grey3);

  text-align: center;

  transform: translate(0, -50%);

  .title {
    padding: 32px 24px 16px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.4;
  }

  .body {
    overflow-y: auto;

    margin-bottom: 32px;
    padding: 0 24px;

    color: var(--grey);

    font-size: 17px;
    line-height: 1.7;
    word-wrap: break-word;
    hyphens: auto;
  }

  .button {
    position: relative;

    display: block;

    overflow: hidden;

    padding: 16px 0;
    border-top: 1px solid var(--border-color);

    font-weight: 700;
    font-size: 17px;
    line-height: 1.4;
    text-decoration: none;

    user-select: none;
  }
}
