.phone-header {
  max-width: var(--max-width);
  min-height: 13px;
  margin: 0 var(--horizontal-margin);
  padding: 12px 15px 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  .grey & {
    padding: 21px 15px 5px;
    color: var(--dark-grey);
    font-weight: 400;
    font-size: 13px;
  }
}

.phone-wrapper {
  display: flex;
  align-items: center;

  overflow: hidden;

  max-width: calc(var(--max-width) - 30px);
  margin: 2px var(--horizontal-margin);
  padding: 0 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--text-color);

  line-height: 2.5;

  .phone-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  .number {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
  }

  .call,
  .add {
    overflow: hidden;

    width: 28px;
    height: 28px;
    margin: 0 4px;
    border-radius: 14px;

    line-height: 1;
  }

  .icon {
    width: 100%;
    height: 100%;
  }
}
