.hintbox-component {
  position: relative;

  max-width: calc(var(--max-width) - 48px);
  margin: 12px var(--horizontal-margin);
  padding: 16px;
  border-color: var(--hint-box-border-color);
  border-left-width: 5px;
  border-left-style: solid;
  border-radius: 6px;

  background: var(--hint-box-bgcolor);

  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (prefers-color-scheme: dark) {
    background: var(--hint-box-title-color);
  }

  .grey & {
    margin: 16px;
  }

  .hint-title {
    position: relative;

    display: block;

    padding-left: 24px;

    color: var(--hint-box-title-color);
    font-weight: 600;
    line-height: 1.25;

    @media (prefers-color-scheme: dark) {
      color: var(--hint-box-bgcolor);
    }

    &:not(:only-child) {
      margin-bottom: 12px;
    }

    &::before {
      content: " ";

      position: absolute;
      left: 0;

      width: 20px;
      height: 20px;

      background-position: left;
      background-repeat: no-repeat;
    }

    &.access {
      padding-right: 16px;

      &::after {
        position: absolute;
        content: " ";

        top: 50%;
        right: 2px;

        float: right;

        width: 8px;
        height: 8px;
        margin-top: -5px;
        border-width: 2px 2px 0 0;
        border-style: solid;
        border-color: var(--arrow-color);

        transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
      }
    }
  }

  .head {
    padding-left: 0;
  }
}

.hintbox-hover {
  filter: brightness(0.95);

  @media (prefers-color-scheme: dark) {
    filter: brightness(1.1);
  }
}
