@use "../../../../styles/lib/svg";
@use "icons";

.hintbox-component.danger {
  --hint-box-border-color: #e13238;
  --hint-box-bgcolor: #ffebec;
  --hint-box-title-color: #4b1113;

  .hint-title {
    &::before {
      @include svg.background-svg(icons.$danger-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$danger-dark-icon);
      }
    }
  }
}
