@use "../../../../styles/lib/svg";
@use "icons";

.hintbox-component.note {
  --hint-box-border-color: #d4d5d8;
  --hint-box-bgcolor: #fdfdfe;
  --hint-box-title-color: #474748;

  .hint-title {
    &::before {
      @include svg.background-svg(icons.$note-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$note-dark-icon);
      }
    }
  }
}
