@use "../../../../styles/lib/svg";
@use "icons";

.container-component.tip {
  border-color: #009400;
  background: #e6f6e6;

  @media (prefers-color-scheme: dark) {
    background: #003100;
  }

  .container-title {
    color: #003100;

    @media (prefers-color-scheme: dark) {
      color: #e6f6e6;
    }

    &::before {
      @include svg.background-svg(icons.$tip-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$tip-dark-icon);
      }
    }
  }
}
