@use "../../../../styles/lib/svg";
@use "icons";

.hintbox-component.tip {
  --hint-box-border-color: #009400;
  --hint-box-bgcolor: #e6f6e6;
  --hint-box-title-color: #003100;

  .hint-title {
    &::before {
      @include svg.background-svg(icons.$tip-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$tip-dark-icon);
      }
    }
  }
}
