/* audio */
.audio {
  width: 80%;
  max-width: var(--max-width);
  margin: 8px 10%;
}

/* video */
.video {
  width: 92%;
  max-width: var(--max-width);
  height: 388.125rpx;
  max-height: calc(var(--max-width) / 16 * 9);
  margin: 8px 4%;
  border-radius: 8px;
}
