module.exports = {
  /** 获得天气 */
  getWeather: function (forecast) {
    if (forecast) {
      if (forecast.dayWeather === forecast.nightWeather)
        return forecast.dayWeather;

      return forecast.dayWeather + "转" + forecast.nightWeather;
    }

    return "";
  },

  /** 获得温度 */
  getTemperature: function (forecast) {
    if (forecast) return forecast.maxDegree + "/" + forecast.minDegree + "°";

    return "";
  },
};
