.wrapper {
  width: 100%;
  background-color: var(--bgcolor-grey);
  color: var(--text-color);
}

/* 天气基本信息 */
.weather-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
  box-sizing: border-box;

  width: 100%;
  height: 470px;

  background-image: linear-gradient(-90deg, #3bbcff, #4af4ff);
  color: #fff;

  text-align: center;

  .temperature {
    margin-top: 60px;
    padding-left: 22px;
    font-size: 62px;
    line-height: 1.2;
  }

  .type {
    font-size: 22px;
    line-height: 2;
  }

  .detail {
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
  }

  .share-button {
    position: absolute;
    top: 120px;
    right: 15px;
    z-index: 10;

    width: auto !important;
    padding: 4px 12px !important;
    border: none !important;
    border-radius: 16px;

    background-color: #ffa500 !important;
    color: #fff !important;

    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
  }

  .quality {
    position: absolute;
    top: 120px;
    left: 8px;
    z-index: 10;

    height: 44px;
    padding: 8px 12px;
    border-radius: 8px;

    background: #ffbf62;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);

    &.level1 {
      background-color: #a3d765;
    }

    &.level2 {
      background-color: #f0cc35;
    }

    &.level3 {
      background-color: #f1ab62;
    }

    &.level4 {
      background-color: #ef7f77;
    }

    &.level5 {
      background-color: #b28ccb;
    }

    &.level6 {
      background-color: #ad788a;
    }

    .number {
      height: 12px;
      margin-bottom: 3px;

      color: #fff;

      font-size: 12px;
      line-height: 12px;

      opacity: 0.8;
    }

    .level {
      height: 14px;
      margin-top: 2px;

      color: #fff;

      font-size: 12px;
      line-height: 14px;
    }
  }

  .location-wrapper {
    width: 76%;
    height: 16px;
    margin: 18px 12%;

    font-size: 16px;
    line-height: 1;
  }

  .tip {
    z-index: 2;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
  }

  /* 背景相关 */
  .background {
    z-index: 1;
    overflow: hidden;
    width: 100%;
  }

  .background,
  .background .layer {
    position: absolute;
    top: 60px;
    bottom: 0;
  }

  .background .layer {
    content: "";

    right: -6%;
    left: -6%;

    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;

    transition: all 0.2s;
  }

  .layer1 {
    z-index: 3;
    background-image: url("https://mp.innenu.com/img/weather/ground-day.png");
  }

  .layer2 {
    z-index: 2;
    background-image: url("https://mp.innenu.com/img/weather/lake-day.png");
  }

  .layer3 {
    z-index: 1;
    background-image: url("https://mp.innenu.com/img/weather/layer3.png");
  }

  &.code1 {
    background-image: linear-gradient(-90deg, #86c3ca, #b5e9e8);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud-day2.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake-day2.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C1-layer3.png");
    }
  }

  &.code3 {
    background-image: linear-gradient(-90deg, #43697f, #abd2d7);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud-day3.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake-day3.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C3-layer3.png");
    }
  }

  &.code4 {
    background-image: linear-gradient(-90deg, #67a1dc, #a8e0f7);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud-snow.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake-snow.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C4-layer3.png");
    }
  }

  &.code5 {
    background-image: linear-gradient(-90deg, #81aedc, #a9def1);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud5.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake5.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C4-layer3.png");
    }
  }

  &.code6 {
    background-image: linear-gradient(-90deg, #9b9b96, #c1c1bc);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud6.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake6.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C6-layer3.png");
    }
  }

  &.code7 {
    background-image: linear-gradient(-90deg, #c09461, #eedfa1);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud7.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake7.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/C7-layer3.png");
    }
  }

  &.code9 {
    background-image: linear-gradient(-90deg, #50ade8, #7ae0fa);

    .layer1 {
      background-image: url("https://mp.innenu.com/img/weather/groud9.png");
    }

    .layer2 {
      background-image: url("https://mp.innenu.com/img/weather/lake9.png");
    }

    .layer3 {
      background-image: url("https://mp.innenu.com/img/weather/windy.png");
    }
  }

  &.night {
    background-image: linear-gradient(-90deg, #313877, #44abec);

    .layer1 {
      z-index: 3;
      background-image: url("https://mp.innenu.com/img/weather/ground-night.png");
    }

    .layer2 {
      z-index: 2;
      background-image: url("https://mp.innenu.com/img/weather/lake-night.png");
    }

    .layer3 {
      z-index: 1;
      background-image: url("https://mp.innenu.com/img/weather/mountain-night.png");
    }

    &.code9 {
      background-image: linear-gradient(-90deg, #313877, #44abec);

      .layer1 {
        z-index: 3;
        background-image: url("https://mp.innenu.com/img/weather/ground-night.png");
      }

      .layer2 {
        z-index: 2;
        background-image: url("https://mp.innenu.com/img/weather/lake-night.png");
      }

      .layer3 {
        z-index: 1;
        background-image: url("https://mp.innenu.com/img/weather/mountain-night2.png");
      }
    }
  }
}

/* 今明天预报 */
.forecast {
  position: relative;

  height: 80px;
  margin-bottom: 10px;
  padding: 15px 0;

  background-color: var(--block-bgcolor);

  .item {
    float: left;

    width: 50%;
    padding: 0 20px;

    color: var(--grey4);

    font-size: 14px;
    line-height: 14px;
  }

  .top {
    height: 12px;
    margin-bottom: 13px;
  }

  .date {
    float: left;
  }

  .temperature {
    float: right;
  }

  .bottom {
    height: 22px;
  }

  .weather {
    float: left;
    height: 22px;
    line-height: 22px;
  }

  .icon {
    float: right;
    width: 22px;
    height: 22px;
  }
}

.flex {
  display: flex;
  height: 100%;
}

/* 小时预报 */
.hours {
  display: flex;
  align-items: stretch;

  height: 110px;
  margin: 20px 0;

  background-color: var(--block-bgcolor);

  .item {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 58px;
    padding: 10px 0;

    text-align: center;
  }

  .time {
    color: var(--light-grey);
    font-size: 12px;
    line-height: 1.2;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .degree {
    color: var(--grey4);
    font-size: 14px;
    line-height: 1.2;
  }
}

/* 天预报 */
.days {
  position: relative;

  display: flex;

  width: 100%;
  height: 400px;

  background-color: var(--block-bgcolor);

  .item {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 20vw;
    padding: 20px 0;
  }

  .day {
    color: var(--light-grey);
    font-size: 12px;
    line-height: 1.2;
  }

  .date {
    color: var(--light-grey);
    font-size: 12px;
    line-height: 1.2;
  }

  .weather {
    color: var(--grey4);
    font-size: 14px;
    line-height: 1.5;
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 8px auto;
  }

  .placeholder {
    height: 148px;
  }

  .wind {
    width: 40px;
    color: #b2b2b2;
    font-size: 12px;
    line-height: 1;

    @media (prefers-color-scheme: dark) {
      color: #434343;
    }
  }
}

/* 画布 */
.temperature.canvas {
  position: absolute;
  top: 126px;
  width: 160%;
  height: 148px;
}

/* 其他信息 */
.info {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  background-color: var(--block-bgcolor);

  .item {
    position: relative;
    width: 25%;
    height: 94px;
    text-align: center;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;

      width: 1px;
      border-right: 1px solid var(--border-color);

      transform: scaleX(0.4);
      transform-origin: 100% 0;
    }

    &::after {
      content: " ";

      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      height: 1px;
      border-bottom: 1px solid var(--border-color);

      transform: scaleY(0.4);
      transform-origin: 0 100%;
    }

    &:nth-child(4n)::before {
      border-right-width: 0;
    }

    &:nth-child(n + 21)::after {
      border-bottom-width: 0;
    }

    .icon {
      display: block;

      width: 24px;
      height: 24px;
      margin: 15px auto 10px;

      background-size: 24px;
    }
  }

  .content {
    height: 14px;
    margin-bottom: 6px;

    color: var(--grey4);

    font-size: 14px;
    line-height: 14px;
  }

  .title {
    height: 12px;
    color: var(--light-grey);
    font-size: 10px;
    line-height: 12px;
  }
}

.footer {
  color: var(--grey);
  font-size: 12px;
  text-align: center;
}
