module.exports = {
  /**
   * 获得地图设置
   *
   * @param env 当前环境
   * @param darkmode 当前是否为暗黑模式
   *
   * @returns 地图设置
   */
  getSetting: function (env, darkmode) {
    var settings = {
      showLocation: true,
      showScale: true,
      showCompass: true,
      enableRotate: true,
      enable3D: true,
      enableOverlooking: true,
      enableTraffic: true,
    };

    if (env === "wx") {
      settings.subkey = "NLVBZ-PGJRQ-T7K5F-GQ54N-GIXDH-FCBC4";
      settings.layerStyle = darkmode ? 2 : 1;
    }

    return settings;
  },

  /**
   * 获得 markers
   *
   * @param markers 待处理的标记点
   *
   * @returns 处理后的标记点
   */
  getMarkers: function (markers, darkmode) {
    return (markers || []).map(function (marker) {
      marker.iconPath = "/icon/marker.png";
      marker.width = 25;
      marker.height = 25;
      marker.alpha = 0.8;

      if (marker.name) {
        marker.label = {
          content: marker.name,
          color: "#2ecc71",
          fontSize: 10,
          anchorX: marker.name.length * -5 - 4,
          anchorY: 0,
          bgColor: darkmode ? "#1c1c1e" : "#ffffff",
          borderWidth: 1,
          borderColor: darkmode ? "#1f1f22" : "#efeef4",
          borderRadius: 2,
          padding: 3,
        };
        delete marker.name;
      }

      if (marker.detail) {
        marker.callout = {
          content: marker.detail,
          color: darkmode ? "#000000" : "#ffffff",
          fontSize: 16,
          borderRadius: 10,
          bgColor: "#2ecc71",
          padding: 10,
          display: "BYCLICK",
        };

        delete marker.detail;
      }

      return marker;
    });
  },
};
