.ios {
  .grid-component-wrapper {
    padding: 0 6px;

    @media (min-width: 768px) {
      padding: 0 10px;
    }

    .grid {
      width: calc(25% - 10px);
      margin: 5px;
      padding: 10px 0;
      border-radius: 6px;

      background-color: var(--block-bgcolor);

      @media (min-width: 480px) {
        width: calc(16.666% - 10px);
      }

      @media (min-width: 1024px) {
        width: calc(12.5% - 10px);
      }
    }

    .icon {
      width: 28px;
      height: 28px;
    }

    .text {
      color: var(--grey4);
      font-size: 14px;
    }
  }
}
