.weui {
  .grid-component-wrapper {
    overflow: hidden;
    border-top: 1rpx solid rgb(0 0 0 / 10%);
    border-left: 1rpx solid rgb(0 0 0 / 10%);

    .grid {
      position: relative;

      float: left;

      box-sizing: border-box;

      width: 25%;
      padding: 20px 10px;
      border-right: 1rpx solid rgb(0 0 0 / 10%);
      border-bottom: 1rpx solid rgb(0 0 0 / 10%);

      background-color: #fff;

      @media (prefers-color-scheme: dark) {
        border-right: 1rpx solid rgb(255 255 255 / 10%);
        border-bottom: 1rpx solid rgb(255 255 255 / 10%);
        background-color: #000;
      }
    }

    .icon {
      display: block;
      width: 28px;
      height: 28px;
      margin: 0 auto;
    }

    .text {
      display: block;

      overflow: hidden;

      margin-top: 5px;

      color: rgb(0 0 0 / 90%);

      font-size: 14px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (prefers-color-scheme: dark) {
        color: rgb(255 255 255 / 90%);
      }
    }
  }
}
