.carousel {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;

  .item {
    width: 100%;
    height: 400rpx;

    .image {
      width: 100%;
      height: 100%;
    }

    &.card .image {
      overflow: hidden;

      width: calc(100% - 30px);
      height: 360rpx;
      margin: 8px 15px;
      border-radius: 16rpx;
    }
  }
}

.carousel-dots {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;

  display: flex;
  justify-content: center;

  &.card {
    padding-bottom: 8px;
  }

  .dot {
    width: 8px;
    height: 8px;
    margin: 0 4px;
    border-radius: 4px;

    background: #fff;

    transition: all 0.6s;

    &.active {
      width: 12px;
      background: #fff;
    }
  }
}
