#map {
  width: 100%;
  height: 100%;
}

@mixin button() {
  position: fixed;
  background-color: var(--bgcolor);
  box-shadow: -1px 3px 5px #dbdadfd3;

  @media (prefers-color-scheme: dark) {
    box-shadow: -1px 3px 5px #4b4d47d3;
  }
}

@mixin single-button() {
  @include button;

  width: 36px;
  height: 36px;
  padding: 4px;
  border-radius: 12px;

  .icon {
    width: 100%;
    height: 100%;
  }
}

/* switch组件 */
.area-switch {
  position: absolute;
  left: calc(50% - 60px);

  overflow: hidden;

  width: 120px;
  height: 30px;
  border: 1px solid #2ecc71;
  border-radius: 14px;

  background-color: var(--bgcolor);

  font-size: 14px;

  .item {
    display: inline-block;

    width: 50%;
    height: 100%;

    color: #2ecc71;

    line-height: 30px;

    &.active {
      background-color: #2ecc71;
      color: var(--bgcolor);
    }
  }
}

.filter-button,
.list-button,
.locate-button {
  @include single-button;
}

.filter-button {
  top: 120px;
  right: 15px;
}

.list-button {
  top: 180px;
  right: 15px;
}

.locate-button {
  right: 20px;
  bottom: 60px;
}

.scale-buttons {
  @include button;

  bottom: 60px;
  left: 20px;

  overflow: hidden;

  width: 76px;
  height: 32px;
  border-radius: 16px;

  .item {
    display: inline-block;
    height: 100%;
    padding: 6px 8px;

    image {
      width: 22px;
      height: 22px;
    }
  }
}

.select-wrapper {
  position: fixed;
  top: 120px;
  right: 60px;
  z-index: 96;

  display: none;
  flex-wrap: wrap;
  justify-content: flex-end;

  overflow: hidden;

  border-radius: 4px;

  opacity: 0;

  transition: opacity 0.5s ease;

  &.display {
    display: flex;
  }

  .item {
    margin: 4px;
    padding: 5px 10px;
    border-radius: 4px;

    background-color: var(--bgcolor);
    color: var(--dark-grey);

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;

    &.active {
      color: #2ecc71;
    }
  }
}

@for $index from 1 through 7 {
  .select-wrapper .item#{$index} {
    animation-delay: $index * 0.08s;
  }
}

.location {
  position: relative;
  padding: 6px 0;
  line-height: 1.4;
  text-align: left;

  &::after {
    content: " ";

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 1px;
    border-bottom: 1px solid var(--border-color);

    transform: scaleY(0.4);
    transform-origin: 0 100%;
  }

  &:last-child::after {
    display: none;
  }

  .name {
    color: var(--grey3);
    font-size: 16px;
  }

  .desc {
    color: var(--dark-grey);
    font-size: 14px;
  }
}
