var lock = false;

module.exports = {
  getTitle: function (category) {
    return category.map(function (item) {
      return item.name;
    });
  },

  toggleFilter: function (_event, ownerInstance) {
    if (!lock) {
      var wrapper = ownerInstance.selectComponent(".select-wrapper");

      if (wrapper.hasClass("display")) {
        wrapper.setStyle({});
        lock = true;
        ownerInstance.setTimeout(function () {
          wrapper.removeClass("display");
          lock = false;
        }, 550);
      } else {
        wrapper.addClass("display");

        ownerInstance.setTimeout(function () {
          wrapper.setStyle({
            opacity: 1,
          });
        }, 50);
      }
    }

    return false;
  },
};
