.phone-wrapper {
  height: 100%;
  text-align: left;
}

.phone {
  position: relative;

  display: inline-flex;
  align-items: center;

  width: calc(100% - 54px);
  margin: 8px 15px;
  padding: 8px 12px;
  border-radius: 8px;

  text-align: justify;

  @media (min-width: 768px) {
    width: calc(50% - 61.5px);
    padding: 8px 12px;

    &:nth-last-child(2)::after {
      display: none;
    }
  }

  &::after {
    top: calc(100% + 8px);
  }

  &:last-child::after {
    display: none;
  }

  .info {
    flex: 1;
    text-align: justify;
  }

  .name {
    font-weight: 600;
    font-size: 17px;
    line-height: 2;
  }

  .num {
    color: var(--dark-grey);
    font-size: 14px;
  }

  .actions {
    width: 102px;
  }

  .action {
    display: inline-block;

    overflow: hidden;

    width: 26px;
    height: 26px;
    margin: 0 4px;
    border-radius: 13px;

    .icon {
      width: 100%;
      height: 100%;
    }
  }
}

.phone-popup {
  position: fixed;
  top: 50%;
  right: 16px;
  left: 16px;
  z-index: 5000;
  max-width: var(--max-width);

  display: flex;
  flex-direction: column;

  overflow: hidden;

  max-height: 90%;
  border-radius: 12px;

  background-color: var(--white);

  text-align: center;

  transform: translate(0, -50%);

  .title {
    padding: 32px 24px 16px;
    font-weight: 700;
    font-size: 17px;
    line-height: 1.4;
  }

  .body {
    overflow-y: auto;

    margin-bottom: 32px;
    padding: 0 24px;

    color: var(--grey);

    font-size: 17px;
    line-height: 1.7;
    word-wrap: break-word;
    hyphens: auto;
  }

  .button {
    position: relative;

    display: block;

    overflow: hidden;

    padding: 16px 0;
    border-top: 1px solid var(--border-color);

    font-weight: 700;
    font-size: 17px;
    line-height: 1.4;
    text-decoration: none;

    user-select: none;
  }
}
