/* ios Head */

.ios-navigation-bar {
  position: fixed;
  top: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;

  width: 100%;
  height: 44px;
  padding-top: 20px;

  background-color: #f7f7f7;

  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
}

.ios-nav-placeholder {
  width: 100%;
  height: 44px;

  background-color: #f8f8f8;
  color: #acacb0;

  font-size: 10px;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #000;
    color: #555;
  }
}

.ios-nav-back-button {
  position: absolute;
  left: 0;
  z-index: 510;

  display: flex;
  align-items: center;

  min-width: 10px;
  max-width: 30%;
  min-height: 0;
  margin: 0 12px;
  padding: 0 5px;

  font-weight: normal;
  line-height: 2.4;
}

.ios-back-arrow {
  width: 15px;
  height: 15px;
  border-width: 0 0 3px 3px;
  border-style: solid;
  border-color: #3478f7;

  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.ios-nav-text {
  z-index: 101;

  overflow: hidden;

  color: #3478f7;

  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ios-titletext {
  position: absolute;
  z-index: 100;

  overflow: hidden;

  max-width: 50%;

  font-weight: 500;
  font-size: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ios-nav-border {
  position: fixed;
  top: 64px;
  z-index: 1001;

  width: 100%;
  height: 0;
}

.ios-head {
  position: relative;

  padding: 3px 15px;

  background-color: #f8f8f8;

  font-weight: 500;
  font-size: 34px;
  text-align: left;

  @media (prefers-color-scheme: dark) {
    background-color: #000;
  }
}

.ios-nav-border::after,
.ios-head::after {
  content: " ";

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 1px;
  border-bottom: 1px solid #acacb0;

  color: #acacb0;

  transform: scaleY(0.4);
  transform-origin: 0 100%;

  @media (prefers-color-scheme: dark) {
    border-bottom: 1px #3d3d41 solid;
    color: #3d3d41;
  }
}
