/* NENU nav */
.NENUnav,
.NENUnav2 {
  position: fixed;
  z-index: 99;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  background-color: #5ab879;
  color: #fff;
}

.NENUnav {
  justify-content: flex-start;

  box-sizing: content-box;

  height: 44px;
  padding: 2px 0;
  border-bottom: 1rpx solid var(--bgcolor-grey);
}

.NENU-navText {
  position: absolute;

  width: 100%;

  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.NENUNavTitle {
  position: absolute;

  max-width: 517px;
  padding: 6.5px 9px;
  border: 1rpx solid rgba(255, 255, 255, 0.15);
  border-radius: 17px;

  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;

  font-size: 18px;
  line-height: 1;
}

.NENUHead .back-icon {
  color: var(--text-color);
}
