@use "sass:color";
@use "../../../../styles/lib/svg";
@use "icons";

.container {
  position: relative;

  &.info {
    border-color: #007bff;
    background: #f4f4f4;

    .container-title {
      color: color.scale(#007bff, $lightness: -20%);
    }

    &::before {
      @include svg.background-svg(icons.$info-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$info-dark-icon);
      }
    }
  }

  &.tip {
    border-color: #42b983;
    background: #f4f4f4;

    .container-title {
      color: color.scale(#42b983, $lightness: -20%);
    }

    &::before {
      @include svg.background-svg(icons.$tip-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$tip-dark-icon);
      }
    }
  }

  &.warning {
    border-color: #f4cd00;
    background: #fff7d0;

    .container-title {
      color: color.scale(#f4cd00, $lightness: -20%);
    }

    &::before {
      @include svg.background-svg(icons.$warning-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$warning-dark-icon);
      }
    }
  }

  &.danger {
    border-color: #f55;
    background: #ffe6e6;

    .container-title {
      color: color.scale(#f55, $lightness: -20%);
    }

    &::before {
      @include svg.background-svg(icons.$danger-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$danger-dark-icon);
      }
    }
  }

  &.info,
  &.tip,
  &.warning,
  &.danger {
    margin: 1rem 0;
    padding: 1rem 1.2rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @media (prefers-color-scheme: dark) {
      background: #353535;
      color: #a8a8a8;
    }

    &::before {
      content: " ";

      position: absolute;
      top: 14px;
      left: -16px;

      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }

  .container-title {
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 600;
  }

  .head {
    padding-left: 0;
  }
}
