.action-component-header {
  max-width: var(--max-width);
  min-height: 13px;
  margin: 0 var(--horizontal-margin);
  padding: 12px 15px 4px;

  color: var(--text-color);

  font-weight: 500;
  font-size: 19px;
  text-align: left;

  .grey & {
    padding: 21px 15px 5px;
    color: var(--dark-grey);
    font-weight: 400;
    font-size: 13px;
  }
}

.action-component-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  overflow: hidden;

  max-width: calc(var(--max-width) - 30px);
  margin: 0 var(--horizontal-margin);
  padding: 0 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--text-color);

  line-height: 1.5;

  .action-text,
  .link-text {
    flex: 1;
    padding: 10px 0;
    text-align: justify;
    word-break: break-all;
  }

  .action-text {
    font-size: 16px;
  }

  .link-icon {
    width: 20px;
    height: 20px;
    padding: 6px;
    margin: 0 4px 0 -5px;
  }

  .link-text {
    color: #3478f7;
    font-size: 14px;
  }

  .copy-button {
    width: 20px;
    height: 20px;
    padding: 6px;
  }

  .copy-icon {
    width: 100%;
    height: 100%;
  }
}
