var time = 0;
var left = 0;
var top = 0;

module.exports = {
  /** 是否显示 */
  isShowed: function (config) {
    return (
      config &&
      (config.contact !== false ||
        config.feedback !== false ||
        config.shareable)
    );
  },

  /** 移动按钮 */
  button: function (event, ownerInstance) {
    var touch = event.touches[0];

    switch (event.type) {
      // 计算点击点与按钮左上角的距离
      case "touchstart":
        left = touch.pageX - event.currentTarget.offsetLeft;
        top = touch.pageY - event.currentTarget.offsetTop;
        // 写入当前时间
        time = event.timeStamp;
        break;
      // 根据 touchstart 的计算值移动分享按钮
      case "touchmove":
        event.instance.setStyle({
          top: touch.pageY - top + "px",
          left: touch.pageX - left + "px",
        });
        break;
      // 如果触摸小于 200ms —> 视为点击操作，显示菜单
      case "touchend":
      default:
        if (time > event.timeStamp - 200) {
          console.log("Tap in shared menu");
          ownerInstance.selectComponent(".share-wrapper").setStyle({
            visibility: "visible",
            opacity: 1,
          });
          ownerInstance.selectComponent(".share-menu").setStyle({
            transform: "translateY(0)",
          });
        }
    }
  },

  /** 取消显示菜单 */
  hideMenu: function (event, ownerInstance) {
    event.instance.setStyle({
      visibility: "hidden",
      opacity: 0,
    });
    ownerInstance.selectComponent(".share-menu").setStyle({
      transform: "translateY(100%)",
    });
  },
};
