.loading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: var(--max-width);
  margin: 20px var(--horizontal-margin);
  padding: 8px 0;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  color: var(--grey);

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}
