.info {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}

.search-item {
  overflow: hidden;

  margin: 8px 15px;
  padding: 4px 8px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  box-shadow: 1px 1px 2px 3px var(--card-shadow);

  text-align: left;

  > .title {
    margin: 4px 8px;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
  }

  .list > .title {
    margin: 4px 8px;
    color: var(--grey3);
    font-weight: 500;
    font-size: 16px;
  }

  .heading {
    margin: 4px 8px;
    color: var(--dark-grey);
    font-size: 16px;
  }

  .text {
    overflow: hidden;

    margin: 4px 8px;

    color: var(--grey);

    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .keyword {
      color: var(--dark-grey);
      font-weight: bold;
    }
  }

  .doc {
    display: flex;
    align-items: center;
    margin: 4px 8px;
    font-size: 14px;

    .icon {
      width: 16px;
      height: 16px;
    }
  }

  .card {
    margin: 6px 8px;
    padding: 6px 8px;
    border-radius: 8px;
    background-color: var(--bgcolor-grey);

    .title {
      color: var(--dark-grey);
      font-size: 15px;
    }

    .desc {
      margin-top: 4px;
      color: var(--grey);
      font-size: 13px;
    }
  }
}
