@use "../../../../styles/lib/svg";
@use "icons";

.hintbox-component.info {
  --hint-box-border-color: #4cb3d4;
  --hint-box-bgcolor: #eef9fd;
  --hint-box-title-color: #193c47;

  .hint-title {
    &::before {
      @include svg.background-svg(icons.$info-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$info-dark-icon);
      }
    }
  }
}
