@use "../../../../styles/lib/svg";
@use "icons";

.hintbox-component.warning {
  --hint-box-border-color: #e6a700;
  --hint-box-bgcolor: #fff8e6;
  --hint-box-title-color: #4d3800;

  .hint-title {
    &::before {
      @include svg.background-svg(icons.$warning-icon);

      @media (prefers-color-scheme: dark) {
        @include svg.background-svg(icons.$warning-dark-icon);
      }
    }
  }
}
