/*

 * @Description: iOS主题
 * @Version: 2.0
 */

.iOS {
  width: 100%;
  min-height: 100%;

  background-color: var(--bgcolor);
  color: var(--text-color);

  text-align: center;
}

.iOS.grey {
  background-color: var(--bgcolor-grey);
}

.iOS-title {
  max-width: 517px;
  min-height: 24px;
  margin: 0 auto;
  padding: 12px 15px 4px;

  font-weight: 500;
  font-size: 22px;
  text-align: left;
}

@media (min-width: 768px) {
  .iOS-title {
    min-height: 26px;
    font-size: 24px;
  }
}

.grey .iOS-title {
  max-width: unset;
  padding-left: 30px;
}

.iOS-title + .iOS-title {
  padding-top: 2px;
}
