/* ---nenu theme made by MrHope--- */

.nenu {
  width: 100%;
  min-height: 100%;
  background-color: var(--bgcolor);
  color: var(--text-color);
}

.nenu.grey {
  background-color: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  .nenu.grey {
    background-color: #0f0f0f;
  }
}

/* paragraph */
.nenu-title {
  min-height: 24px;
  padding: 9px 15px 3px;

  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.nenu-title + .nenu-title {
  padding-top: 2px;
}
