.weui {
  width: 100%;
  min-height: 100%;

  background-color: #f8f8f8;
  color: var(--text-color);

  font-family: "Helvetica Neue", FZKTJW, -apple-system-font, "PingFang SC",
    Helvetica, STHeiti, Tahoma, Simsun, sans-serif !important;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #000;

    &.grey {
      background-color: #10110b;
    }
  }
}
