.infoCtn {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px;
}

.avator {
  overflow: hidden;

  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
}

.nickName {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.detail {
  line-height: 1.5;
  text-align: left;
}
