.info-wrapper {
  display: flex;

  margin-bottom: 16px;
  padding: 0 20px 12px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;

  background-color: var(--block-bgcolor);

  .avatar {
    overflow: hidden;

    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
  }

  .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 2px 0;
  }

  .nickname {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
  }

  .detail {
    line-height: 1.5;
    text-align: left;
  }
}
