.card-component {
  overflow: hidden;

  max-width: 517px;
  margin: 12px 15px;
  border-radius: 8px;

  background-color: var(--block-bgcolor);
  box-shadow: 1px 1px 2px 3px var(--card-shadow);

  text-align: left;

  @media (min-width: 630px) {
    margin: 12px auto;
  }

  .cover {
    width: 100%;
    height: 290rpx;
    max-height: 220px;
  }

  .detail {
    margin: 0;
    padding: 12px 15px;
  }

  .title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;

    @media (min-width: 480px) {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }

  .desc {
    color: var(--dark-grey);
    font-size: 14px;
    line-height: 1.4;

    @media (min-width: 480px) {
      font-size: 18px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
  }

  .logo {
    width: 28px;
    height: 28px;

    @media (min-width: 480px) {
      width: 40px;
      height: 40px;
    }
  }

  .name {
    margin: 2px auto;
    color: var(--grey);
    font-size: 12px;

    @media (min-width: 480px) {
      font-size: 16px;
    }
  }
}
