/* ---android theme made by Mr.Hope--- */

/* V 1.0.0 */

/* 安卓容器 */

.android {
  width: 100%;
  min-height: 100%;

  background-color: #f8f8f8;
  color: var(--text-color);

  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: #000;

    &.grey {
      background-color: #10110b;
    }
  }
}
