/*

 * @Description: ios主题
 * @Version: 2.0
 */

.ios {
  width: 100%;
  min-height: 100%;

  background-color: var(--bgcolor);
  color: var(--text-color);

  text-align: center;
}

.ios.grey {
  background-color: var(--bgcolor-grey);
}
