module.exports = {
  isContainer: function (type) {
    return (
      type === "tip" ||
      type === "info" ||
      type === "warning" ||
      type === "danger"
    );
  },

  getTitle: function (config) {
    var type = config.type;

    return (
      config.heading ||
      (type === "note"
        ? "注"
        : type === "tip"
        ? "提示"
        : type === "info"
        ? "相关信息"
        : type === "warning"
        ? "注意"
        : "警告")
    );
  },

  getAlign: function (align) {
    return align ? "text-align:" + align : "";
  },
};
