/* 天气 */
.weather-logo {
  z-index: 999 !important;
}

.normal-bg {
  background-color: #0081ff;
}

.starry-bg {
  background-color: #223;
}

.stormy-bg {
  background-color: #444;
}

@keyframes float {
  50% {
    transform: translateY(-20px);
  }
}

@keyframes cloud-shadow {
  50% {
    opacity: 5%;
    transform: translateY(20px) scale(1);
  }
}

@mixin cloud {
  position: absolute;
  top: 50px;
  right: 90px;

  display: block;

  width: 50px;
  height: 50px;
  margin-left: -60px;
  border-radius: 50%;

  animation: float 5s ease-in-out infinite;

  // cloud shadow
  &::after {
    content: "";

    position: absolute;
    bottom: -45px;
    left: 5px;

    width: 120px;
    height: 15px;
    border-radius: 50%;

    background: #000;

    opacity: 20%;

    transform: scale(0.7);
    animation: cloud-shadow 5s ease-in-out infinite;
  }
}

/* SUNNY */

@keyframes sunny {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sunny {
  position: absolute;
  top: 20px;
  right: 70px;

  width: 20px;
  height: 140px;
  margin-top: -12px;
  margin-left: -8px;

  background: linear-gradient(
    to top,
    rgb(255 255 255 / 0%) 0%,
    rgb(255 255 255 / 80%) 50%,
    rgb(255 255 255 / 0%) 100%
  );

  animation: sunny 15s linear infinite;

  &::before {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 20px;
    height: 140px;

    background: linear-gradient(
      to top,
      rgb(255 255 255 / 0%) 0%,
      rgb(255 255 255 / 80%) 50%,
      rgb(255 255 255 / 0%) 100%
    );

    opacity: 100%;

    transform: rotate(90deg);
  }

  &::after {
    content: "";

    position: absolute;
    top: 30px;
    left: -30px;

    width: 80px;
    height: 80px;
    border-radius: 50%;

    background: #fe4;
    box-shadow: rgb(255 255 0 / 20%) 0 0 0 15px;
  }
}

/* RAINBOW */

@keyframes rainbow {
  50% {
    transform: rotate(50deg);
  }
}

@keyframes rainbow-shadow {
  50% {
    opacity: 5%;
    transform: rotate(-50deg) translate(10px) scale(0.7);
  }
}

.rainbow {
  position: absolute;
  top: 60px;
  right: 50px;

  width: 70px;
  height: 70px;
  border-radius: 170px 0 0;

  box-shadow: #fb323c -2px -2px 0 1px, #f99716 -4px -4px 0 3px,
    #fee124 -6px -6px 0 5px, #afdf2e -8px -8px 0 7px, #6ad7f8 -10px -10px 0 9px,
    #60b1f5 -12px -12px 0 11px, #a3459b -14px -14px 0 13px;

  transform: rotate(40deg);
  animation: rainbow 5s ease-in-out infinite;

  &::after {
    content: "";

    position: absolute;
    bottom: -23px;
    left: 17px;

    width: 120px;
    height: 15px;
    border-radius: 50%;

    background: #000;

    opacity: 20%;

    transform: rotate(-40deg);
    transform-origin: 50% 50%;
    animation: rainbow-shadow 5s ease-in-out infinite;
  }
}

/* STARRY */

@keyframes starry {
  50% {
    transform: rotate(10deg);
  }
}

@keyframes starry-star {
  50% {
    box-shadow: rgb(255 255 255 / 10%) 26px 7px 0 -1px,
      #fff -36px -19px 0 -1px, #fff -51px -34px 0 -1px,
      rgb(255 255 255 / 10%) -52px -62px 0 -1px,
      rgb(255 255 255 / 10%) 14px -37px, #fff 41px -19px,
      rgb(255 255 255 / 10%) 34px -50px, #fff 14px -71px 0 -1px,
      rgb(255 255 255 / 10%) 64px -21px 0 -1px, #fff 32px -85px 0 -1px,
      rgb(255 255 255 / 10%) 64px -90px, #fff 60px -67px 0 -1px,
      rgb(255 255 255 / 10%) 34px -127px, #fff -26px -103px 0 -1px;
  }
}

.starry {
  position: absolute;
  top: 20px;
  right: 90px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background: #fff;
  box-shadow: #fff 26px 7px 0 -1px, rgb(255 255 255 / 10%) -36px -19px 0 -1px,
    rgb(255 255 255 / 10%) -51px -34px 0 -1px, #fff -52px -62px 0 -1px,
    #fff 14px -37px, rgb(255 255 255 / 10%) 41px -19px, #fff 34px -50px,
    rgb(255 255 255 / 10%) 14px -71px 0 -1px, #fff 64px -21px 0 -1px,
    rgb(255 255 255 / 10%) 32px -85px 0 -1px, #fff 64px -90px,
    rgb(255 255 255 / 10%) 60px -67px 0 -1px, #fff 34px -127px,
    rgb(255 255 255 / 10%) -26px -103px 0 -1px;

  opacity: 100%;

  animation: starry-star 5s ease-in-out infinite;

  &::after {
    content: "";

    position: absolute;

    width: 100px;
    height: 100px;
    border-radius: 50%;

    box-shadow: #fff -25px 0;

    transform: rotate(-5deg);
    transform-origin: 0 50%;
    animation: starry 5s ease-in-out infinite;
  }
}

/* Clouds */

.cloudy,
.rainy,
.stormy,
.snowy {
  @include cloud;
}

/* CLOUDY */

.cloudy {
  background: #fff;
  box-shadow: #fff 65px -15px 0 -5px, #fff 25px -25px, #fff 30px 10px,
    #fff 60px 15px 0 -10px, #fff 85px 5px 0 -5px;
}

/* RAINY */

@keyframes rainy-rain {
  0% {
    box-shadow: rgb(0 0 0 / 0%) 30px 30px, rgb(0 0 0 / 0%) 40px 40px,
      #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px,
      #000 110px 45px, #000 90px 35px;
  }

  25% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px,
      rgb(0 0 0 / 0%) 70px 120px, rgb(0 0 0 / 0%) 80px 120px, #000 110px 70px,
      #000 90px 60px;
  }

  26% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px,
      rgb(0 0 0 / 0%) 70px 40px, rgb(0 0 0 / 0%) 80px 20px, #000 110px 70px,
      #000 90px 60px;
  }

  50% {
    box-shadow: #000 30px 70px, #000 40px 80px, rgb(0 0 0 / 0%) 50px 100px,
      #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px,
      #000 90px 85px;
  }

  51% {
    box-shadow: #000 30px 70px, #000 40px 80px, rgb(0 0 0 / 0%) 50px 45px,
      #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px,
      #000 90px 85px;
  }

  75% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px,
      rgb(0 0 0 / 0%) 55px 95px, #000 70px 80px, #000 80px 70px,
      rgb(0 0 0 / 0%) 110px 120px, rgb(0 0 0 / 0%) 90px 110px;
  }

  76% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px,
      rgb(0 0 0 / 0%) 55px 35px, #000 70px 80px, #000 80px 70px,
      rgb(0 0 0 / 0%) 110px 25px, rgb(0 0 0 / 0%) 90px 15px;
  }

  100% {
    box-shadow: rgb(0 0 0 / 0%) 30px 120px, rgb(0 0 0 / 0%) 40px 120px,
      #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px,
      #000 110px 45px, #000 90px 35px;
  }
}

.rainy {
  background: #ccc;
  box-shadow: #ccc 65px -15px 0 -5px, #ccc 25px -25px, #ccc 30px 10px,
    #ccc 60px 15px 0 -10px, #ccc 85px 5px 0 -5px;

  &::before {
    content: "";

    display: block;

    width: 3px;
    height: 6px;
    border-radius: 50%;

    background: #ccc;

    opacity: 30%;

    transform: scale(0.9);
    animation: rainy-rain 0.7s infinite linear;
  }
}

/* STORMY */

@keyframes stormy-thunder {
  0% {
    opacity: 100%;
    transform: rotate(20deg);
  }

  5% {
    opacity: 100%;
    transform: rotate(-34deg);
  }

  10% {
    opacity: 100%;
    transform: rotate(0deg);
  }

  15% {
    opacity: 0%;
    transform: rotate(-34deg);
  }
}

.stormy {
  background: #222;
  box-shadow: #222 65px -15px 0 -5px, #222 25px -25px, #222 30px 10px,
    #222 60px 15px 0 -10px, #222 85px 5px 0 -5px;

  &::before {
    content: "";

    position: absolute;
    top: 70px;
    left: 57px;

    display: block;

    width: 0;
    height: 0;
    border-top: 43px solid #ff0;
    border-right: 7px solid transparent;
    border-left: 0 solid transparent;

    box-shadow: #ff0 -7px -32px;

    transform: rotate(14deg);
    transform-origin: 50% -60px;
    animation: stormy-thunder 2s steps(1, end) infinite;
  }
}

/* SNOWY */

@keyframes snowy-snow {
  0% {
    box-shadow: rgb(238 238 238 / 0%) 30px 30px,
      rgb(238 238 238 / 0%) 40px 40px, #eee 50px 75px, #eee 55px 50px,
      #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }

  25% {
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px,
      rgb(238 238 238 / 0%) 70px 120px, rgb(238 238 238 / 0%) 80px 120px,
      #eee 110px 70px, #eee 90px 60px;
  }

  26% {
    box-shadow: #eee 30px 45px, #eee 40px 60px, #eee 50px 90px, #eee 55px 65px,
      rgb(238 238 238 / 0%) 70px 40px, rgb(238 238 238 / 0%) 80px 20px,
      #eee 110px 70px, #eee 90px 60px;
  }

  50% {
    box-shadow: #eee 30px 70px, #eee 40px 80px,
      rgb(238 238 238 / 0%) 50px 100px, #eee 55px 80px, #eee 70px 60px,
      #eee 80px 45px, #eee 110px 95px, #eee 90px 85px;
  }

  51% {
    box-shadow: #eee 30px 70px, #eee 40px 80px, rgb(238 238 238 / 0%) 50px 45px,
      #eee 55px 80px, #eee 70px 60px, #eee 80px 45px, #eee 110px 95px,
      #eee 90px 85px;
  }

  75% {
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px,
      rgb(238 238 238 / 0%) 55px 95px, #eee 70px 80px, #eee 80px 70px,
      rgb(238 238 238 / 0%) 110px 120px, rgb(238 238 238 / 0%) 90px 110px;
  }

  76% {
    box-shadow: #eee 30px 95px, #eee 40px 100px, #eee 50px 60px,
      rgb(238 238 238 / 0%) 55px 35px, #eee 70px 80px, #eee 80px 70px,
      rgb(238 238 238 / 0%) 110px 25px, rgb(238 238 238 / 0%) 90px 15px;
  }

  100% {
    box-shadow: rgb(238 238 238 / 0%) 30px 120px,
      rgb(238 238 238 / 0%) 40px 120px, #eee 50px 75px, #eee 55px 50px,
      #eee 70px 100px, #eee 80px 95px, #eee 110px 45px, #eee 90px 35px;
  }
}

.snowy {
  background: #fff;
  box-shadow: #fff 65px -15px 0 -5px, #fff 25px -25px, #fff 30px 10px,
    #fff 60px 15px 0 -10px, #fff 85px 5px 0 -5px;

  &::before {
    content: "";

    display: block;

    width: 7px;
    height: 7px;
    border-radius: 50%;

    opacity: 80%;

    transform: scale(0.9);
    animation: snowy-snow 2s infinite linear;
  }
}
