@use "logo";
@import "../../styles/lib/icon";

.weather-wrapper {
  position: relative;

  padding: 10px 15px;

  color: #fff;

  font-size: 16px;
  text-align: left;

  .detail {
    font-size: 14px;
  }

  .temperature {
    padding: 5px 0;
  }

  .text {
    font-size: 12px;

    .icon-font {
      margin-left: 4px;
    }
  }

  .loading {
    width: 60px;
    height: 60px;
    margin: 20px calc(50% - 60px);
  }
}
