.account {
  position: relative;
  overflow: hidden;
  width: 100%;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    opacity: 60%;
    filter: blur(8px);
  }

  .content {
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  .logo {
    width: 200rpx;
    max-width: 150px;
    height: 200rpx;
    max-height: 150px;
    margin-top: 12px;
  }

  .name {
    margin: 4px 0;
    font-size: 18px;
    text-shadow: 0 0 1px var(--grey);
  }

  .desc {
    max-width: 80%;
    margin: 4px auto;
    color: var(--grey3);
    font-size: 14px;
  }

  .action-list {
    display: flex;
    justify-content: space-evenly;
  }

  .action {
    overflow: hidden;

    width: 40px;
    height: 40px;
    margin: 6px;
    padding: 0;
    border-radius: 50%;

    background-color: var(--bgcolor);
  }

  .icon {
    width: 24px;
    height: 24px;
    margin: 8px;
  }
}
