module.exports = {
  page: {
    title: "Mr.Hope 简介",
    content: [
      { tag: "title", text: "Mr.Hope 简介" },
      {
        tag: "text",
        text: ["Mr.Hope，辽宁人，东北师范大学 2020 届本科毕业生"],
      },
      { tag: "title", text: "为什么要开发这个小程序" },
      {
        tag: "text",
        text: ["希望能为新生扫清入学前的迷茫。"],
      },
      { tag: "title", text: "反馈内容错误" },
      {
        tag: "text",
        text: ["您可通过客服渠道反馈小程序的内容错误"],
      },
    ],
  },
};
