.donate-list-wrapper {
  max-width: 517px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;

  .title {
    padding-top: 8px;
    font-weight: bold;
    font-size: 19px;
    line-height: 2;
  }

  .year {
    padding: 4px 0;
    font-weight: bold;
    font-size: 17px;
    line-height: 2;
  }

  .item {
    font-size: 15px;
    line-height: 1.5;
  }

  .sum,
  .result {
    font-size: 16px;
    line-height: 1.5;
  }

  .result {
    color: #09bb07;

    &.negative {
      color: #e64340;
    }
  }
}
