module.exports = {
  isContainer: function (type) {
    return (
      type === "tip" ||
      type === "info" ||
      type === "warning" ||
      type === "danger"
    );
  },

  defaultTitle: function (type) {
    return type === "tip"
      ? "提示"
      : type === "info"
      ? "信息"
      : type === "warning"
      ? "注意"
      : "警告";
  },
};
