.search-bar {
  position: relative;

  display: flex;
  align-items: center;

  padding: 8px 15px;

  color: var(--text-color);

  .search-icon {
    margin: 0 6px;
  }

  .input {
    flex-grow: 1;

    height: 32px;
    margin-right: 24px;

    color: var(--text-color);

    font-size: 14px;
    line-height: 32px;
    text-align: left;
  }

  .clear {
    margin: 0 6px;
  }

  .cancel {
    margin-left: 8px;

    color: #3478f7;

    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
  }

  .word-wrapper {
    position: absolute;
    top: 40px;
    right: 51px;
    left: 15px;
    z-index: 2;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    max-height: 60vh;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    background-color: var(--block-bgcolor);
    box-shadow: 1px 1px 4px var(--card-shadow);
  }

  .word {
    position: relative;

    padding: 4px 15px;

    color: var(--grey4);

    font-size: 15px;
    line-height: 1.8;
    text-align: left;

    &::after {
      content: " ";

      position: absolute;
      right: 0;
      bottom: 0;
      left: 15px;

      height: 1px;
      border-bottom: 1px solid var(--border-color);

      transform: scaleY(0.4);
      transform-origin: 0 100%;
    }

    &:last-child::after {
      display: none;
    }
  }
}

.search-wrapper-input,
.search-wrapper-placeholder {
  display: flex;
  flex-shrink: 1;
  align-items: center;

  width: 100%;
  height: 32px;
  border-radius: 8px;

  background-color: #e3e4e8;
  color: var(--grey);

  font-size: 14px;

  @media (prefers-color-scheme: dark) {
    background-color: #1c1c1e;
  }
}

.search-wrapper-input.has-words {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.search-wrapper-placeholder .text {
  line-height: 32px;
}
